<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card-mt-4 text-center">
      <div class="card-header">
        <h1>Fibonaci</h1>
      </div>
      <div class="card-body">
        <form action="/fibonacci" method="POST">
          <div class="form-group">
            <label for="text">cantidad de elementos</label>
            <input type="number" name="n" value="{{n}}" class="form-control" autofocus />
          </div>
          <br>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Calcular</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>